body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: rgb(255, 235, 54);
  padding: 10px 10px;
}
nav a{
  margin-right:15px;
  text-decoration:none;
  color:rgb(20, 220, 103)
}
nav a.active{
  text-decoration: none;
  font-weight: bold;
}
nav a{
  text-decoration: none;
}
#navbarUsername{
  text-align: left;
}
a#logoutButton{
  float:right
}
a#shoppingCart{
  float: right;
}