.signUpComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh; 
}
#signUpLabel{
    text-align: center;
    color: white;
}
#signUpButton{
    float: right;
    background-color: white;
    color: rgb(133, 133, 133);
    font-size: large;
    font-weight: 600;
    border: 0;
}
.form-group{
    padding: .7em 0;
}
@media (max-height: 700px) {
    .form{
        height: 85vh; 
    }
  }