#navbar {
    height: 4vh;
    background-color: rgb(49, 167, 69);
    text-decoration: none;
}
#homeLink{
    margin-top:100px;
}

a.navbarLink{
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 0 .5em 0 .5em;
}
.navbarLink:hover{
    color:whitesmoke
}
.link:hover{
    font-weight: 700;
    color:white;
}
.logout {
    float: right;
}
.shoppingCart {
    float: right;
}